__pycache__
.vscode
.env
.claude-state-backup
.devcontainer/devcontainer-lock.json

results
target
notes
wisq
bqskit
bqskit-ft
related

data/qasmbench/
data/pm_paper_circuits/
data/lssp-data-silva-et-al/
data/benchpress/
data/clifford_rz/
data/mqt
data/grover_benchmarks
data/*out
data/all_compiled_bqskit/
data/all_compiled_pipe-testing/
data/all_compiled_qiskit/
data/old-all-compiled/
data/circuits/small
data/circuits/*.trans*
data/circuits/*out*
data/circuits-ablations/
data/circuits/heisenberg/*.trans*
data/circuits/heisenberg/*out*
data/circuits/qft/*.trans*
data/circuits/qft/*out*

data_processing/*out
data_processing/out_dir
