__pycache__
.vscode
.env
results
target
notes
data/*.old
data/transpiled/python-version/
data/transpiled_truncated/
wisq
related
tableau
data/qasmbench/
data/native_benchpress/
data/pm_paper_circuits/
data/lssp-data-silva-et-al/
data/custom_qft_benchmarks/
data/all_compiled_truncated/
data/all_wisq/
data/benchpress/
data/clifford_rz/
data/transpiled/max-weight-vary/
data_processing/*out
data_processing/out_dir
data/*out